<div class="container" style="margin: 1em 0 0 0;" *ngFor="let i of tree">
    <div class="row">
        <div class="col-sm-5">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src={{i.imgs[0]}} class="d-block w-100">
                    </div>
                    <div class="carousel-item" *ngFor="let j of i.imgs.slice(1)">
                        <img src={{j}} class="d-block w-100">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <h2 style="display: inline;">{{i.name}}</h2><br><br>
            <h1 style="color: red;">{{i.price}} &#8363;</h1><br>
            <p style="display: inline; font-size: 140%;">Thuộc loại: </p>
            <h5 style="display: inline;">{{i.type}}</h5><br><br>
            <p style="display: inline; font-size: 140%;">Xuất xứ: </p>
            <h5 style="display: inline;">{{i.origin}}</h5><br><br>
            <p style="display: inline; font-size: 140%;">Số lượng còn lại: </p>
            <h5 style="display: inline;">{{i.number}}</h5><br><br>
            <p style="display: inline; font-size: 140%;">Số lượng: </p><input type="number" [(ngModel)]="number"><br>
            <button type="button" class="btn btn-outline-warning" style="margin: 2em 5% 0 0; font-size: 120%;" (click)='buynow()'>Mua ngay <a #open data-toggle="modal" data-target="#exampleModal"></a></button>
            <button type="button" class="btn btn-outline-success" style="margin: 2em 0 0 0; font-size: 120%;" (click)="addtocart()">Bỏ vào giỏ hàng<i class="fa fa-shopping-cart"></i></button>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lưu ý:</h5>
                    <p style="font-size: 80%;">
                        - Mỗi loại cây có đặc điểm sinh trưởng và nhu cầu dinh dưỡng khác nhau. Bạn cần căn cứ vào từng chủng loại cây cảnh để quyết định lượng nước tưới và bón phân cho phù hợp. Chẳng hạn, những cây cảnh mọng nước thường sinh trưởng ở sa mạc hay những nơi khí
                        hậu, thổ nhưỡng khô cằn như xương rồng… thì bạn không cần phải tưới nước thường xuyên. Ngược lại, những cây cảnh thủy sinh thì cần duy trì độ ẩm cao cho đất trồng. Phân bóng cũng vậy, mỗi loại cây ở mỗi giai đoạn sinh trưởng cần
                        lượng chất dinh dưỡng khác nhau. Chính vì thế, tìm hiểu kĩ lưỡng thành phần trong phân bón, loại phân bón phù hợp với cây là điều cần thiết.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin: 1em 0 0 0;">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Đặc điểm</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Cách chăm sóc</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <ul *ngFor="let k of i.characteristics">
                <li>{{k}}</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <ul *ngFor="let k of i.howtotakecareof">
                <li>{{k}}</li>
            </ul>
        </div>
    </div>
    <!------------------------------------------------------------------------------------------------------------------------------------->
    <!--Modal mua hàng-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đơn hàng</h5>
                </div>
                <div class="modal-body" style="overflow: auto; height: 33em">
                    <table style="margin-bottom: 1em">
                        <tbody>
                            <tr style="font-size: 105%; border-bottom: 1px solid dimgray;">
                                <td style="width: 20%;">
                                    <img src={{item.img}} style="width: 100%; height: 4em;">
                                </td>
                                <td style="width: 5%;"></td>
                                <td style="width: 75%;">
                                    <div>
                                        <h4>{{item.name}}</h4>
                                    </div>
                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td style="width: 65%; font-weight: 450;">
                                                    <span>Số lượng:</span><br>
                                                    <span>Thành tiền:</span>
                                                </td>
                                                <td style="width: 35%;">
                                                    <span style="font-weight: bold;">{{item.number}}</span><br>
                                                    <span style="font-weight: bolder; color:red;">{{item.intomoney}} &#8363;</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr style="border-bottom: 1px solid dimgray;">
                                <td></td>
                                <td></td>
                                <td>
                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr style="font-weight: 500;">
                                                <td style="width: 65%; font-weight: bold;">
                                                    <span>Phí vận chuyển (tạm tính):</span><br>
                                                </td>
                                                <td style="width: 35%;">
                                                    <span style="font-weight: bolder; color:red;">50000 &#8363;</span>
                                                </td>
                                            </tr>
                                            <tr style="font-size: 120%;">
                                                <td style="width: 65%; font-weight: bold;">
                                                    <span>Tổng tiền:</span><br>
                                                </td>
                                                <td style="width: 35%;">
                                                    <span style="font-weight: bolder; color:red;">{{item.intomoney + 50000}} &#8363;</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <span style="font-weight: 500;">Thông tin của quí khách: </span>
                    <div style="margin: 0.5em 0 0 0">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gneder" value="Anh" [(ngModel)]='orderform.gender'>
                            <label class="form-check-label" for="inlineRadio1">Anh</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gneder" value="Chị" [(ngModel)]='orderform.gender'>
                            <label class="form-check-label" for="inlineRadio2">Chị</label>
                        </div>
                        <div class="row" style="margin-top: 0.5em;">
                            <div class="col-sm-7">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Tên</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="ví dụ: Nguyễn Văn A" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]='orderform.name'>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">SĐT</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="0xxxxxxxx" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]='orderform.number'>
                                </div>
                            </div>
                        </div>
                        <span style="font-weight: 500;">Địa chỉ giao hàng: </span>
                        <div class="form-group" style="margin-top: 0.5em;">
                            <label for="exampleFormControlSelect1">Tỉnh, thành: </label>
                            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]='provinceandcitys' (change)=(changeprovinceandcity())>
                <option>---Chọn---</option>
                <option *ngFor='let i of local'>{{i.name}}</option>
              </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Quận, huyện: </label>
                            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]='districts' (change)=(changedistrict())>
                <option>---Chọn---</option>
                <option *ngFor='let i of district'>{{i.name}}</option>
              </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Phường, xã: </label>
                            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]='wards'>
                <option>---Chọn---</option>
                <option *ngFor='let i of ward'>{{i.name}}</option>
              </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Địa chỉ cụ thể: </label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Số nhà, tên đường, ấp, ..." [(ngModel)]='specificaddress'>
                        </div>
                        <div class="form-group">
                            <label for="myDate2">Chọn ngày giao hàng: </label>
                            <input type="date" class="form-control" [(ngModel)]='orderform.deliverydate'>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" #close data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" (click)='order()'>Đặt hàng</button>
                </div>
            </div>
        </div>
    </div>
</div>