<div class="body">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="height: 100%;">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" style="height: 100%;">
            <div class="carousel-item active" style="height: 100%;" [routerLink]="['product/indoorplants']">
                <img src="https://firebasestorage.googleapis.com/v0/b/data-trees.appspot.com/o/homes%2Findoorplants.jpg?alt=media&token=39e6bcb0-6dbf-450c-bcbb-ea2e10d8e389" class="d-block w-100 imghome">
                <div class="carousel-caption d-none d-md-block" style="color: yellow;">
                    <h5>Các loại cây trồng trong nhà</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item" style="height: 100%;" [routerLink]="['product/shrubsbushes']">
                <img src="https://firebasestorage.googleapis.com/v0/b/data-trees.appspot.com/o/homes%2Fshrubsbushes.jpg?alt=media&token=74445dfd-a910-4795-81f5-a917c194d0f3" class="d-block w-100 imghome">
                <div class="carousel-caption d-none d-md-block" style="color: yellow;">
                    <h5>Nhiều loại cây bụi</h5>
                    <p>Làm cho khu vườn của bạn trở nên sinh động hơn</p>
                </div>
            </div>
            <div class="carousel-item" style="height: 100%;" [routerLink]="['product/climbingspreadnegp']">
                <img src="https://firebasestorage.googleapis.com/v0/b/data-trees.appspot.com/o/homes%2Fclimbingspreadnegp.jpg?alt=media&token=023b9e68-9c6b-45ed-b38a-8dc3db00a2d5" class="d-block w-100 imghome">
                <div class="carousel-caption d-none d-md-block" style="color: yellow;">
                    <h5>Cây ưa trồng trong vườn</h5>
                    <p>Khu vườn của bạn chắc chắn không thể thiếu những loại cây này</p>
                </div>
            </div>
            <div class="carousel-item" style="height: 100%;" [routerLink]="['product/succulentscacti']">
                <img src="https://firebasestorage.googleapis.com/v0/b/data-trees.appspot.com/o/homes%2Fsucculentscacti.jpg?alt=media&token=6a466f95-008d-421f-bfb1-079c186e80be" class="d-block w-100 imghome">
                <div class="carousel-caption d-none d-md-block" style="color: yellow;">
                    <h5>Các loại cây mọng nước</h5>
                    <p>Làm cho giang phòng của bạn trở nên phong phú hơn</p>
                </div>
            </div>
            <div class="carousel-item" style="height: 100%;" [routerLink]="['product/fengshuitree']">
                <img src="https://firebasestorage.googleapis.com/v0/b/data-trees.appspot.com/o/homes%2Fcay-phong-thuy.jpeg?alt=media&token=d182778d-6ff6-4a37-87fa-092652181db0" class="d-block w-100 imghome">
                <div class="carousel-caption d-none d-md-block" style="color: yellow;">
                    <h5>Nhiều loại cây phong thuỷ</h5>
                    <p>Đem lại nhiều may mắn, tài lộc cho chính bạn và gia đình bạn</p>
                </div>
            </div>
            <div class="carousel-item" style="height: 100%;" [routerLink]="['product/flowerpot']">
                <img src="https://firebasestorage.googleapis.com/v0/b/data-trees.appspot.com/o/homes%2Fhoa%20ch%E1%BA%A1u.jpg?alt=media&token=950dd295-649f-4382-82d2-6977d3f68fe9" class="d-block w-100 imghome">
                <div class="carousel-caption d-none d-md-block" style="color: yellow;">
                    <h5>Hoa chậu các loại</h5>
                    <p>Dành cho các tín đồ yêu thích hoa</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>